.contact-section {
}

.contact-section-wrapper {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.contact-container {
  padding: 0;

  @include media(desktop) {
  }
}

.contact-content-wrapper {
  @include media(desktop) {
  }
}

.contact-subtitle {
  max-width: 293px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: max-content;
  }
}

.contact-email-link {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 275;
  font-size: 20px;
  line-height: 1.5;
  color: #f4f7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  @include media(desktop) {
  }
}

.email-icon {
  min-width: 32px;

  @include media(desktop) {
  }
}

.contact-img {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin-top: 64px;
  }
}
