.privacy-header {
  background: #0a0d18;
  padding-top: 12px;
  padding-bottom: 12px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
  }
}

.privacy-header-link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 275;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #f4f7ff;
  max-width: max-content;

  @include media(desktop) {
  }
}

.arrow-back-icon {
  stroke: #f4f7ff;
  fill: none;
}
