<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <div class="section-title-left-line"></div>
      <h2 class="section-title about-title">About the Game</h2>
      <div class="section-title-right-line"></div>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <p class="section-subtitle about-subtitle">
          Arcade racing with a focus on control
        </p>
        <p class="about-text">
          We wanted to focus on what makes racing games fun - nailing those
          perfect turns and feeling in complete control of your car.<br />
          Instead of long tracks, the game emphasizes tight sections where every
          turn matters.<br />
          Players improve through practice and mastering timing.
        </p>
      </div>
    </div>
  </div>
</section>
