<section class="section contact-section" id="contact">
  <div class="contact-section-wrapper">
    <div class="section-title-wrapper contact-title-wrapper">
      <div class="container section-title-container">
        <div class="section-title-left-line"></div>
        <h2 class="section-title about-title">Contact</h2>
        <div class="section-title-right-line"></div>
      </div>
    </div>
    <div class="contact-bg-wrapper">
      <div class="container contact-container">
        <div class="contact-content-wrapper">
          <p class="section-subtitle contact-subtitle">Stay on track with us</p>
          <a href="mailto:info@calmwindow.space" class="contact-email-link">
            <svg class="email-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-email"></use></svg
            ><span>info@calmwindow.space</span></a
          >
        </div>
        <picture>
          <source
            srcset="./img/contact/contact-bg-desk.jpg"
            media="(min-width: 1440px)"
            width="1440"
            height="640" />
          <source
            srcset="./img/contact/contact-bg-mob.jpg"
            width="375"
            height="376" />
          <img
            class="contact-img"
            src="./img/contact/contact-bg-mob.jpg"
            alt="Screenshot of the game"
            width="375"
            height="376"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
