<section class="section experience-section" id="experience">
  <div class="section-title-wrapper experience-title-wrapper">
    <div class="container section-title-container">
      <div class="section-title-left-line"></div>
      <h2 class="section-title about-title">Game Flow</h2>
      <div class="section-title-right-line"></div>
    </div>
  </div>
  <div class="experience-bg-wrapper">
    <div class="container experience-container">
      <div class="experience-content-wrapper">
        <p class="section-subtitle experience-subtitle">
          What keeps players engaged
        </p>
        <ul class="experience-list">
          <li class="experience-slide">
            <svg class="experience-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-experience1"></use>
            </svg>
            <p class="experience-item-text">Quick restarts after failure</p>
          </li>
          <li class="experience-slide">
            <svg class="experience-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-experience2"></use>
            </svg>
            <p class="experience-item-text">Short, intense sessions</p>
          </li>
          <li class="experience-slide">
            <svg class="experience-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-experience3"></use>
            </svg>
            <p class="experience-item-text">Clear improvement over time</p>
          </li>
          <li class="experience-slide">
            <svg class="experience-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-experience4"></use>
            </svg>
            <p class="experience-item-text">Strong “one more try” effect</p>
          </li>
          <li class="experience-slide">
            <svg class="experience-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-experience5"></use>
            </svg>
            <p class="experience-item-text">Focus on skill mastery</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
