<section class="section faq-section" id="faq">
  <div class="section-title-wrapper faq-title-wrapper">
    <div class="container section-title-container">
      <div class="section-title-left-line"></div>
      <h2 class="section-title about-title">FAQ</h2>
      <div class="section-title-right-line"></div>
    </div>
  </div>
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <p class="section-subtitle faq-subtitle">Quick answers</p>
      <ul class="faq-list">
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Is it easy to control?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Sure, the basics are easy enough, but don't expect to be pulling
              off perfect runs right away - it takes some real practice.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Are tracks long?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">No, they are short and focused.</p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Does the game require fast reactions?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">Yes, especially in later levels.</p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I replay tracks?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">Yes, to improve performance.</p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Is it suitable for casual play?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Yes, but also rewarding for skilled players.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
