<section class="section features-section" id="features">
  <div class="section-title-wrapper features-title-wrapper">
    <div class="container section-title-container">
      <div class="section-title-left-line"></div>
      <h2 class="section-title about-title">Core Mechanics</h2>
      <div class="section-title-right-line"></div>
    </div>
  </div>
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <p class="section-subtitle features-subtitle">Anyone can pick it up</p>
        <p class="features-secondary-subtitle">
          but you'll be surprised how much there is to master
        </p>
        <ul class="features-list">
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features1"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">One-Touch Controls</p>
              <p class="features-item-text">Easy to start, hard to master.</p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features2"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Drift System</p>
              <p class="features-item-text">
                Movement depends on timing and angle.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features3"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Speed Balance</p>
              <p class="features-item-text">
                Too fast or too slow affects control.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features4"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Track Memory</p>
              <p class="features-item-text">
                Learning layouts improves performance.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
