<section class="section progression-section" id="progression">
  <div class="section-title-wrapper progression-title-wrapper">
    <div class="container section-title-container">
      <div class="section-title-left-line"></div>
      <h2 class="section-title about-title">Track Design</h2>
      <div class="section-title-right-line"></div>
    </div>
  </div>
  <div class="progression-bg-wrapper">
    <div class="container progression-container">
      <div class="progression-content-wrapper">
        <p class="section-subtitle progression-subtitle">Every corner</p>
        <p class="progression-secondary-subtitle">
          was designed with one thing in mind - making you feel like a drift
          master
        </p>
        <p class="progression-text">
          We spent ages getting the flow right - you'll hit these long straights
          where you can breathe, then suddenly you're thrown into these crazy
          tight sections.<br class="progression-br" />
          Visual cues help players anticipate movement while keeping the
          gameplay fast.
        </p>
      </div>
      <picture>
        <source
          srcset="./img/progression/progression-bg-desk.jpg"
          media="(min-width: 1440px)"
          width="1440"
          height="576" />
        <source
          srcset="./img/progression/progression-bg-mob.jpg"
          width="375"
          height="288" />
        <img
          class="progression-img"
          src="./img/progression/progression-bg-mob.jpg"
          alt="Screenshot of the game"
          width="375"
          height="288"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
